.itemCard {
  width: 30%;
  margin-bottom: 3%;
  border: 0;
  text-align: center;
  transition: all 0.4s ease;
  animation: cardAppear 1s forwards;
}

.itemInfo {
  transition: all 0.4s ease;
  animation: cardAppear 1s forwards;
}

@keyframes cardAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.itemLink {
  color: black;
  cursor: pointer;
}

.itemLink:hover {
  color: #f39b14;
}

.advantagesImg {
  margin-top: 5%;
  width: 150px;
}

.carouselBtn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #dbdbdb;
  color: black;
}
.carouselBtn:hover {
  background-color: #f39b14;
  color: white;
  cursor: pointer;
}

.round {
  border-radius: 50%;
}

.SupportForm {
  width: 100%;
  height: 350px;
  background: url(../assets/mask.png) no-repeat top;
  background-size: cover;
}
